DB_HOST=localhost
DB_PORT=5433
DB_NAME=game_wallet_db
DB_USER=root
DB_PASSWORD=your-password
DB_SSLMODE=disable
DATABASE_URL=postgresql://your-user:your-url-encoded-password@localhost:5433/game_wallet_db?sslmode=disable